.tactical-map-hud {
    position: absolute;
    top: 40px;
    left: 40px;
    width: auto;
    height: auto;
    background-color: grey;
    z-index: 1000;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .hud-box {
        padding: 10px 15px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 13px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }



    .turn-label {
        font-size: 50px;
        font-weight: 600;
        border-radius: 8px;
        color: white;
    }

    .end-turn {
        display: flex;
        justify-content: center; /* horizontal */
        align-items: center; /* vertical */
        display: inline-block;
        height: 50px; /* required for vertical centering */
        border: 1px solid #ccc;
        background-color: grey;
        pointer-events: all;
        font-weight: bold;
        border: none;
        padding: 12px 12px;
        border-radius: 4px;
        cursor: pointer;
    }

    .hidden {
        display: none;
    }
}

.action-bar-box {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background: rgba(0, 0, 0, 0.6);
    padding: 12px 20px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);

   
}

.unit-selector {
    position: absolute;
    top: 40px;
    right: 40px;
    width: auto;
    height: auto;
    background-color: lightskyblue;
    z-index: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.attack-menu-ui {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 50%;
    bottom: 130px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background: rgba(0, 0, 0, 0.6);
    padding: 24px 20px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    pointer-events: all;

    .tu-cost {
        color: white;
        font-weight: bold;
    }
}

.button {
    pointer-events: all;
    background-color: dimgrey;
    opacity: 0.8;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        background: #333;
    }

    &.primary {
        background: #00ff88;
        color: black;
    }

    &.danger {
        background: #ff5555;
        color: white;
    }

    .hidden {
        display: none;
    }
}
