@using Sandbox
@using Sandbox.UI
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="MainMenu">
		<h1 class="title">No Safe Zone</h1>
		<div class="ButtonContainer">
			<button @onclick="@StartGame">Start</button>
			<button @onclick="@OpenOptions">Options</button>
			<button @onclick="@OpenCredits">Credits</button>
			<button @onclick="@(() => Scene.LoadFromFile("scenes/travel.scene"))">Overmap</button>
		</div>
	</div>
</root>

@code {
	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
	//[Property] MenuMusicManager menuMusicManager { get; set; } 
	protected override int BuildHash() => System.HashCode.Combine(MyStringValue);

	void StartGame()
	{
		//menuMusicManager.StopMusic();
		Scene.LoadFromFile("scenes/tacticalmap.scene");
	}

	void OpenOptions()
	{
		Log.Info("Options clicked.");
		// Add logic to open options UI
	}

	void OpenCredits()
	{
		Log.Info("Credits clicked.");
		// Add logic to show credits
	}
}
